<!-- Base -->

<div class="fixed w-full top-0 z-10">
  @if (!isUserLoggedIn) {
  <a
    class="group relative left-2 top-2 inline-block text-sm font-medium text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
    [routerLink]="['/auth']"
    [routerLinkActive]="'activated'"
  >
    <span
      class="absolute inset-0 translate-x-0.5 translate-y-0.5 bg-indigo-600 transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
    ></span>

    <span class="relative block border border-current bg-white px-8 py-3"> Go to auth page</span>
  </a>
  } @else {
  <a
    class="cursor-pointer group relative left-2 top-2 inline-block text-sm font-medium text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
    (click)="logout()"
  >
    <span
      class="absolute inset-0 translate-x-0.5 translate-y-0.5 bg-indigo-600 transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
    ></span>

    <span class="relative block border border-current bg-white px-8 py-3">Logout</span>
  </a>
  }
</div>

<router-outlet></router-outlet>
